@import '~jquery-ui/themes/base/all.css';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh);
    overflow-x: hidden;
    overflow-y: auto;

    .nav-item {
        margin-top: 20px;

        a {
            text-align: center;

            img {
                width: 35px;
            }
        }
    }
}

.product-item {
    height: 200px;
    background-size: contain;
    background-position: 50%;
    position: relative;
    background-repeat: no-repeat;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 2px 1px #716e6e;
    border-radius: 5px;
}

.product-item-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #00000070;
    color: #fff;
    font-weight: bold;
}

.banner {
    background-image: url(/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.example-badge {
    display: none;
}

.ui-autocomplete {
    z-index: 100;
}

.more-item {
    text-decoration: none;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 2px 1px #716e6e;
    border-radius: 5px;
    height: 100%;
}

.ui-widget-header {
    background: $primary;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background: $primary;
    border-color: $white;
}

.calculator {
    max-width: 600px;
    margin: auto;
}

.sidebar-main {
    width: 70px
}

.sidebar-games {
    left: 70px
}

@media (min-width: 768px) {
    main {
        margin-left: 70px !important;
    }
}

.custom-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-bg-image {
    max-width: 50%;
    display: inline;
    height: auto;
    @media (max-width: 767px) {
        max-height: 100px;
    }
}

.custom-bg-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.vue-slider-ltr .vue-slider-mark-label {
    white-space: inherit !important;
    font-size: 10px !important;
    width: 80px !important;
    text-align: center;
}

.nav-header {
    position: absolute;
    width: 100%;
    top: 0;

    .nav-link {
        padding: .8rem 1rem;
    }
}

.price-badge {
    position: absolute !important;
    right: 2px;
    top: 2px !important;
}

#paymentModal {
    label {
        cursor: pointer;
        display: flex;
        margin: auto;
        padding: 10px 15px 15px 15px;
        width: 45%;
        height: 70px;

        &.active {
            border: 1px solid #949494;
            border-radius: 20px;
        }

        input {
            opacity: 0;
            position: absolute;
        }

        img {
          //  max-width: 45%;
            height: 50px;
            width: auto;
            margin: auto;
        }
    }
}
*/
.preview {
    height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .preview {
        height: initial;
        min-height: 300px;
    }
}

.custom-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
        padding: 75px 0px;
    }
}

.custom-bg-image {
    display: inline;
    height: auto;
    margin: auto;
    max-height: 270px;
    @media (max-width: 767px) {
        max-height: 100px;
    }
}

.custom-bg-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
        margin-top: auto;
    }

    .banner-text {
        /*max-width: 90%;*/
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .banner-text {
            /* max-width: 70%;*/
            font-size: 42px;
        }
    }
}

#main-body {
    background-color: #1C1C1C;


    p, h4, label, h5, h1, h2, h3, td, li {
        color: $white
    }

    p, a, li, span, label {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .nav-link {
        font-size: 14px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .b-r-30 {
        border-radius: 30px;
        padding: 10px 10px
    }

    .btn-primary {
        padding: 7px 20px;
    }

    .btn-cart {
        margin-right: -10px;
        position: relative;
    }

    .navbar {
        padding: 0;
    }

    .bg-dark {
        background-color: #1C1C1C !important;
    }

    .nav-item {
        padding: 5px 10px;
        border-top: 1px solid #6d6d6d;
        text-align: center;

        .btn-currency {
            width: fit-content;
            margin: auto;
            border: 1px solid;
            padding: 10px 15px;
        }
    }

    .point-primary {
        width: 10px;
        height: 10px;
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;;
        border-radius: 50px;
        display: inline-block;
    }

    .btn-primary, .bg-primary {
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
    }

    .btn-main-game {
        color: $white;
        /* op */

        background: linear-gradient(195.24deg, rgba(255, 255, 255, 0.25) -37.92%, rgba(255, 255, 255, 0) 46.01%), rgba(255, 255, 255, 0.1);
        /* op */

        backdrop-filter: blur(10px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
        padding: 10px 0px;
        margin-top: 15px;
        @media (min-width: 768px) {
            padding: 35px 0;
            &:hover {
                background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
            }
        }
    }

    .btn-outline-secondary {
        background: inherit;
    }

    .card {
        background-color: #1D1D1D;
        border-radius: 20px;

        .card-footer {
            background-color: #242424;
            border-radius: 20px;
        }
    }

    .modal-content {
        background: #242424;
    }

    .modal-header {
        border-bottom: 1px solid #5a5c5f;
    }

    .modal-footer {
        border-top: 1px solid #5a5c5f;
    }
;

    .product-item-card {
        .badge {
            position: absolute;
        }

        .product-item-price {
            background: linear-gradient(
                    195.24deg, rgba(255, 255, 255, 0.25) -37.92%, rgba(255, 255, 255, 0) 46.01%), rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-sizing: border-box;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 25px;
            float: right;
            position: absolute;
            right: 5px;
            top: 10px;
            padding: 10px 15px;
            color: $white
        }
    }

    .navbar {
        padding: 10px 0;
    }

    .nav-item {
        border-top: none;
    }

    @media (max-width: 767px) {
        .navbar-menu-bg {
            background-color: $dark;

        }
    }

    .form-control {
        background: $black;
        border-color: #6c757d;

        &:focus {
            background: $dark;
        }

        &::placeholder {
            color: $white;
        }
    }

    input[type='text'], input[type='password'], input[type='email'], {
        border: 1px solid #4C4C4C;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 25px 10px;
        color: #fff;

        &::placeholder {
            color: #4C4C4C;
        }

        &:focus {
            color: #fff;
        }
    }

    .badge-primary, .alert-primary {
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;;
    }

    .alert-primary {
        color: #fff;
        border-color: #d96327;
    }

    .price-badge {
        position: absolute !important;
        top: 0;
        left: 0;
        border-radius: 20px;
        padding: 3px 5px;
    }

    td {
        border: none;

    }

    tr {
        border-bottom: 1px solid #3B3B3B;
    }

    .info-page {
        header,.main-content-page,footer {
            background: black !important;
        }
    }
    .vue-slider-process,.vue-slider-dot-tooltip-inner,vue-slider-dot-handle{
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
    }
    .vue-slider-dot-tooltip-inner{
        border-color: #d96327;
    }
    .vue-slider-rail{
        background: #343434;
    }
}
