@import '~jquery-ui/themes/base/all.css';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Montserrat'; /*a name to be used later*/
    src: url('/fonts/Montserrat-Regular.ttf'); /*URL to font*/

}

body::-webkit-scrollbar, .pretty-scroll::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track, .pretty-scroll::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb, .pretty-scroll::-webkit-scrollbar {
    background-color: #1C1C1C;
    border-radius: 10px;
    outline: 1px solid slategrey;
}

.preview {
    height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .preview {
        height: initial;
        min-height: 300px;
    }
}

.custom-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
        padding: 75px 0px;
    }
}

.custom-bg-image {
    display: inline;
    height: auto;
    margin: auto;
    max-height: 270px;
    @media (max-width: 767px) {
        max-height: 100px;
    }
}

.custom-bg-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
        margin-top: auto;
    }

    .banner-text {
        /*max-width: 90%;*/
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .banner-text {
            /* max-width: 70%;*/
            font-size: 42px;
        }
    }
}

#main-body {
    background-color: #1C1C1C;
    padding-bottom: 120px;

    p, h4, label, h5, h1, h2, h3, td, li {
        color: $white
    }

    p, a, li, span, label {
        font-weight: 40;
        font-size: 13px;
        line-height: 20px;
    }

    h4 {
        span, a {
            font-size: inherit;
        }
    }

    .main-banner {
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
        height: 800px;
        background-size: cover;
        max-height: 100vh;
        @media (max-width: 991px) {
            height: 540px;
        }
        @media (max-width: 768px) {
            height: 460px;
        }

        .bg-tone {
            background: #000000e0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 59px;
                @media (max-width: 991px) {
                    text-align: center;
                    font-size: 24px;
                    line-height: 29.26px;
                }
            }

            a {
                padding: 25px;
                width: fit-content;

                @media (max-width: 767px) {
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    width: fit-content;

                }
            }

            .cat-span {
                width: fit-content;
                padding: 3px 10px;
                margin-bottom: 20px;
            }

            .pilot {
                border-left: 1px solid #474747;
                margin-left: 30px;
                padding-left: 30px;
            }
        }
    }

    #auth-app {
        form {
            border: 1px solid #D96321;
        }
    }

    @media (max-width: 991px) {
        #games {
         //   flex-flow: column;
           // flex-wrap: wrap;
            .col{
                flex-basis: auto;
                width: 50%;
            }
        }
    }

    .game-icon {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 90px;
        max-height: 40px;
        border-radius: 10px 0px 0px 0px;
    }

    .dropdown-menu {
        background: #1C1C1C;

        a {
            color: #fff;
            margin: 7px 5px;
            //border-bottom: 1px solid;
            //  border-color: #5f5f5f;
            width: auto;

            &:hover {
                color: #D96321;
            }
        }

    }

    .dropdown-item:hover, .dropdown-item:focus {
        background: inherit;
    }

    .nav-link {
        /*   font-size: 14px;*/
        /*font-size: 0.9rem;
        line-height: 1.6;
*/
        padding: 0.5rem 1rem;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .b-r-30 {
        border-radius: 30px;
        padding: 10px 10px
    }

    .btn-primary {
        padding: 7px 20px;
        font-weight: bold;
    }

    .btn-cart {
        margin-right: -10px;
        position: relative;
    }

    .navbar {
        padding: 0;
    }

    .bg-dark {
        background-color: #1C1C1C !important;
    }

    .nav-item {
        /* padding: 5px 10px;*/
        border-top: 1px solid #6d6d6d;
        text-align: center;

        .btn-currency {
            width: fit-content;
            margin: auto;
            border: 1px solid;
            padding: 7px 15px;
            margin-top: 5px;
            margin-right: 10px;
            /*padding: 10px 15px;*/
        }
    }

    .point-primary {
        width: 10px;
        height: 10px;
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;;
        border-radius: 50px;
        display: inline-block;
    }

    .btn-primary, .bg-primary {
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
    }

    .btn-main-game {
        color: $white;
        /* op */

        background: linear-gradient(195.24deg, rgba(255, 255, 255, 0.25) -37.92%, rgba(255, 255, 255, 0) 46.01%), rgba(255, 255, 255, 0.1);
        /* op */

        backdrop-filter: blur(10px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
      //  padding: 10px 0px;
        margin-top: 15px;
        padding: 35px 0;
        @media (min-width: 768px) {
           // padding: 35px 0;
            &:hover {
                background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
            }
        }
    }

    .order-group-item {
        background-color: #1c1c1c;
        border: 1px solid rgb(217 99 39);
        color: #fff;

        &.active {
            background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
        }
    }

    .btn-outline-secondary {
        background: inherit;
    }

    .card {
        background-color: #1D1D1D;
        border-radius: 20px;

        .card-footer {
            background-color: #242424;
            border-radius: 20px;
        }
    }

    .modal-content {
        background: #242424;
    }

    .modal-header {
        border-bottom: 1px solid #5a5c5f;
    }

    .modal-footer {
        border-top: 1px solid #5a5c5f;
    }
;

    .product-item-card {
        border-radius: 10px;
        overflow: hidden;

        .card-body {
            padding: 0;
        }

        .badge {
            margin: 5px 10px;
            width: fit-content;
        }

        .product-item-price {
            background: linear-gradient(
                    195.24deg, rgba(255, 255, 255, 0.25) -37.92%, rgba(255, 255, 255, 0) 46.01%), rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-sizing: border-box;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 25px;
            float: right;
            position: absolute;
            right: 5px;
            top: 10px;
            padding: 10px 15px;
            color: $white
        }
    }

    .navbar {
        padding: 10px 0;
    }

    .nav-item {
        border-top: none;
    }

    @media (max-width: 767px) {
        .navbar-menu-bg {
            background-color: $dark;

        }
    }

    .form-control, .form-inline {
        background: $black;
        border-color: #6c757d;

        &:focus {
            background: $dark;
        }

        &::placeholder {
            color: $white;
        }
    }

    .form-check-label {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        //flex-flow: wrap;
        align-items: center;

        .checkbox {
            display: inline-flex;
            justify-content: center;
            border: 1px solid #343434;
            box-sizing: border-box;
            border-radius: 10px;
            width: 30px;
            height: 25px;
            margin-right: 10px;

            img {
                width: 15px;
            }
        }

        input {
            display: none;
        }
    }

    input[type='text'], input[type='password'], input[type='email'], {
        border: 1px solid #6c757d;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 25px 10px;
        color: #fff;

        &::placeholder {
            color: #4C4C4C;
        }

        &:focus {
            color: #fff;
        }
    }

    .badge-primary, .alert-primary {
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;;
    }

    .alert-primary {
        color: #fff;
        border-color: #d96327;
    }

    .price-badge {
        position: absolute !important;
        top: -5px;
        left: -10px;
        border-radius: 20px;
        padding: 3px 5px;
        width: 25px;
    }

    td {
        border: none;

    }

    tr {
        border-bottom: 1px solid #3B3B3B;
    }

    .info-page {
        header, .main-content-page, footer {
            background: black !important;
        }
    }

    .vue-slider-process, .vue-slider-dot-tooltip-inner, vue-slider-dot-handle {
        background: linear-gradient(237.8deg, #FF3D00 9.27%, rgba(255, 114, 35, 0) 69.32%), #D96321;
    }

    .vue-slider-dot-tooltip-inner {
        border-color: #d96327;
    }

    .vue-slider-rail {
        background: #343434;
    }

    .vue-slider-mark-label {
        display: none;
    }

    @media (min-width: 768px) {

        footer {
            position: fixed;
            width: 100%;
            bottom: 0;
            background: #1c1c1c;
        }
    }

    @media (max-width: 767px) {
        footer {
            .row > div {
                justify-content: center;
                margin-top: 10px;
            }
        }
    }

    @media (min-width: 992px) {

        .mt--110 {
            margin-top: -110px
        }
    }
}
